/* styles.css -- stylesheet for ishmael website */

html {
    background: url(images/watson.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Bitter', serif;
    color: #000;
    font-size: 12pt;
    text-align: justify;
    padding-bottom: 0.25em;
}

h1 {
    font-family: 'Bitter', serif;
    color: #000;
    font-size: 12pt;
    text-align: center;
    font-weight: normal;
}

.title {
    text-transform: uppercase;
}


table {
    padding-left: 10%;
    padding-right: 10%;
}

td {
    vertical-align: baseline;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
}

td.number {
    visibility: hidden; 
}

footer {
    font-size: 8pt;
    bottom: 0;
    margin-top: 1em;
    padding: 1em; 
    text-align: center;
    width: 100%;  
}

:target {
    visibility: visible;  
    padding-top: 8em; 
}
