<!--
index.html, main page for ishmael website
-->

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Call me Ishmael
  </title>
  <link rel="stylesheet" href="../static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
</head>

<body>
    <h1 class="title">Moby Dick; or The Whale</h1>
    <h1>by Herman Melville</h1>
<table>
    <tr>
        <th></th>
        <th></th>
    </tr>
    {% for number, text in bookDict.items() %}
    {% if number >59 and number <3059 %}
    <tr>
        <td class="number"><a name="{{number}}"</a>{{ number }}</td>
        <td>{{ text }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

<footer>website by h.m., &#x00A9; 2018 the funBook group<br>
    text courtesy of <a href="http://www.gutenberg.org/cache/epub/2489/pg2489.txt">project gutenberg</a>
</footer>

</body>

</html>
