<!--
index.html, main page for ishmael website
-->

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Call me Ishmael
  </title>
  <link rel="stylesheet" href="../static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
</head>

<body>

<table class="table">
    <tr>
        <th></th>
        <th></th>
    </tr>
    {% for number, text in bookDict.items() %}
    {% if number >59 and number <3059 %}
    <tr>
        <td>{{ number }}</td>
        <td>{{ text }}</td>
    </tr>
    {% endif %}
    {% endfor %}


</body>
<footer>website by h.m.<br>
    text courtesy of <a href="http://www.gutenberg.org/cache/epub/2489/pg2489.txt">project gutenberg</a>
</footer>

</html>
